
 select {
	background: white;
	border:none;
	font-size: 14px;
	height: 30px;
	padding: 5px;
	margin-left: 20px;
	width: 250px;
	font-family: 'Handlee', cursive;
	font-size:17px; 
	
 }
 
 select:focus{ outline: none;}

 body {

	background-image: url("../img/18110.jpg");
	background-size: 100%;
	padding: 0px;
	margin:0px; 

 }

 .textarea {
	resize: none;
	margin-right:60px; 
	border:solid 3px black";
    
 }
 
 
 

 .boton {
	background-color: rgb(136, 148, 171);
	border-radius: 10px;
	color: white;
	padding: 10px 32px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	font-family: 'Handlee', cursive;
	margin-right:40px;
  }

  .titulo {
	font-size:50px; 
	font-family: 'Handlee', cursive;
	padding:20px; 
	
	
}

	
  
  
.mensajeUno {

	font-family: 'Handlee', cursive;
	font-size:25px;
	padding-left:10px; 	

	

}

.mensajeDos {

	font-family: 'Handlee', cursive;
	font-size:18px;
	padding-left:10px;
	padding-top:10px;  	
	padding-bottom:10px; 
	
	
	
	

}

footer {

	text-align: center;
	font-family: 'Handlee', cursive; 
	font-size:10px;

	
}

::placeholder {
	font-size:15px;
	font-family: 'Handlee', cursive; 
	
  }

  .imgFooter {
	  
	height:30px;
	width: 30px;

  }

 

  